langgraph
langgraph-cli
langchain-core
langchain-openai

python-dotenv
numpy
aiohttp

llama-index-core
llama-cloud-services
llama-cloud

qdrant-client

google-api-python-client
google-auth
google-auth-httplib2
